<h1>Example Deals Page </h1>
<!-- <p>Find me in app/views/deals/index.html.erb</p> -->

<h2> Deals </h2>
<h3>New Deal From:</h3>
<p><%= @description %></p></br>
<h3>The Deal: </h3>
<p><%= @name %></p></br>
<h3>Other info: </h3>
<p><%= @restrictions %></p>
